* {
    font-family:monospace;
}

#board > button {
    font-size:30px;
    width:1ch;
    overflow-wrap:anywhere;
    padding:1ch 2ch 1ch 1ch;
    background:white;
    border-width:0px 2px 0px 2px;
}

#board > p {
    font-size:20px;
}


#debug {
    width:12ch;
    overflow-wrap:anywhere;
}
